body, html {
	font-family: verdana;
	background-color: #b3ffd9;
}

h1{
	text-decoration: underline;
}

a{
	font-weight: bold;
	text-decoration: none;
	color: grey;
}

a:hover{
	color: black;
}

td{
	padding: 10px;
}

.navbar-fxw{
	padding: 10px;
}

.navbar-fxw:hover{
	color: white;
}

.table-fxw{
	padding: 20px;
}

.heading-img{
	padding-top: 70px;
}